[Desktop Entry]
Encoding=UTF-8
Name=Standard Notes
Comment=A Simple and Private Notes App
Exec=~/Applications/standard-notes.AppImage
Icon=standard-notes
StartupWMClass=Standard Notes
Type=Application
Categories=Office;
